*,
*::before,
**::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(1, 22, 39, 1);
  font-family: 'Fira Code', monospace;
}

.display-none {
  display: none;
}

.d-flex {
  display: flex;
}

.wrapper-section {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  width: 97%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.06);
  overflow: hidden;
}

.header {
  border: 1px solid #1e2d3d;
  padding: 1rem;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: rgba(96, 123, 150, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.intro-content {
  padding: 3rem 1rem;
}

.intro-content .gretting {
  color: rgba(229, 233, 240, 1);
}

.intro-content h1 {
  color: rgba(229, 233, 240, 1);
  max-width: 215px;
  font-size: 48px;
  line-height: 55px;
  margin: 0;
}

.job {
  color: rgba(67, 217, 173, 1);
  font-size: 15px;
}

.profile {
  color: rgba(96, 123, 150, 1);
  width: 100%;
  font-size: 12px;
  margin: 5rem 0 10px 0;
}

.const {
  color: #4d5bce;
  font-size: 14px;
}

.githubLink {
  color: rgba(67, 217, 173, 1);
  font-size: 14px;
}

.equal {
  color: rgba(229, 233, 240, 1);
}

.link,
.link:active {
  text-decoration: none;
  color: rgb(255, 20, 147);
  font-size: 12px;
  width: 44%;
}

.about-container {
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.personal,
.professional,
.hobbies,
.contact {
  background-color: #1e2d3d;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  padding-left: 1rem;
}

.personal p,
.professional p,
.hobbies p,
.contact p {
  padding-left: 1rem;
}

.personal-folders-container {
  flex-direction: column;
  padding-left: 1.2rem;
}

.bio,
.interests,
.education {
  align-items: center;
}

.bio i,
.interests i,
.education i {
  padding-right: 10px;
}

.bio p,
.interests p,
.education p,
.arrow {
  color: rgba(96, 123, 150, 1);
}

.folder-red {
  color: rgba(233, 146, 135, 1);
}

.folder-green {
  color: rgba(67, 217, 173, 1);
}

.folder-blue {
  color: rgba(58, 73, 164, 1);
}

.bio-description-container {
  background-color: rgba(1, 22, 39, 1);
  border: 1px solid rgba(0, 0, 0, 0.24);
  width: 88%;
  padding: 6px;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.bio-description {
  color: rgba(229, 233, 240, 1);
  line-height: 3;
  scroll-behavior: smooth;
}

.bio-description span {
  color: rgba(233, 146, 135, 1);
}

.interests-description {
  padding: 0;
  background-color: rgba(1, 22, 39, 1);
  width: 93%;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  color: rgba(229, 233, 240, 1);
  border-radius: 10px;
}

.education-description li {
  margin-top: 12px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.interests-description li {
  margin: 20px 0;
  padding-left: 10px;
}

.languages-container ul li,
.Framework-container ul li,
.skills-container ul li {
  margin-bottom: 10px;
}

.interests-description li:nth-child(odd) {
  color: rgba(67, 217, 173, 1);
}

.education-description-container {
  padding: 7px;
  background-color: rgba(1, 22, 39, 1);
  border-radius: 10px;
  width: 83%;
  margin: auto;
}

.education-description {
  padding-left: 10px;
}

.education-description,
.education-description li a,
.education-description li a:active {
  list-style: none;
  color: rgba(58, 73, 164, 1);
  text-decoration: none;
}

.professional-folders-container .bio {
  padding-left: 1rem;
}

.languages-container,
.Framework-container,
.skills-container {
  background-color: rgba(1, 22, 39, 1);
  padding: 1rem;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  color: rgba(229, 233, 240, 1);
}

.languages-container ul,
.Framework-container ul,
.skills-container ul {
  list-style: none;
}

.languages-container span {
  color: rgba(233, 146, 135, 1);
}

.Framework-container span {
  color: rgba(67, 217, 173, 1);
}

.skills-container span {
  color: rgba(58, 73, 164, 1);
}
